# CMake
build/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt
*.ninja
install_manifest.txt
compile_commands.json
.cmake/

# Qt
*.user
*.user.*
*.qmake.stash
*.qch

# C++
*.d
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# IDE & Editors
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
!.vscode/settings.json
.idea/
*.swp
*~
*.DS_Store

# Nix
result
result-*
.cache/
