name: "Nix Build and Cachix Push"

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: sda-qt6
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build and check
        run: |
          nix flake check
          nix build -L
          cachix push sda-qt6 result

      - name: Check formatting
        run: |
          nix develop --command clang-format --dry-run --Werror *.cpp *.h

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sda-qt6
          path: result/bin/sda-qt6
